<p>新規登録</p>
<%= form_with model: @work, local: false do |f| %>
  <p>
    <%= f.label :name, "作業名称" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :content, "内容" %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :user_name, "作業者" %>
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :required_skill, "必要スキル" %>
    <%= f.text_field :required_skill %>
  </p>
  <p>
    <%= f.label :start_time, "開始時間" %>
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time, "終了時間" %>
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :priority, "優先度" %>
    <%= f.number_field :priority %>
  </p>
  <%= f.submit "送信" %>
<% end %>
